.quantity {
  appearance: textfield;
  @apply border-accents-2 mx-3 w-8 rounded border text-center text-sm text-black;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  @apply m-0 appearance-none;
}

.productImage {
  position: absolute;
  transform: scale(1.9);
  width: 100%;
  height: 100%;
  left: 30% !important;
  top: 30% !important;
}
